# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files (PyCharm, VSCode)
.idea/
.vscode/

# Local configuration files (if any)
# .env

# Dependency files (if you use handlers like pipenv or poetry)
# Pipfile.lock
# poetry.lock

# Python building artifacts
/PdfMetaJson.egg-info/
src/PdfMetaJson.egg-info/

# Operating system files
.DS_Store
Thumbs.db
